*/target/
*/target/*.pom
*/.idea/
/.idea/
*.iml


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/http2/datawriter

*.index
*.asc
*.lst
*.html
*.js
*.css
/target/taurus-java-helpers-1.0.pom
/target/apidocs/package-list
/target/javadoc-bundle-options/package-list
/target/maven-archiver/pom.properties
/target/nexus-staging/staging/12cacbcea7faf5/com/blazemeter/taurus-java-helpers/1.0/taurus-java-helpers-1.0.pom
/target/nexus-staging/staging/12cacbcea7faf5.properties
/target/nexus-staging/staging/12cacbcea7faf5/com/blazemeter/taurus-java-helpers/maven-metadata-nexus.xml
/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
